body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: large;
    margin-top: 50px;
    margin-left: 50px;

}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style: none;
    margin: 20px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.heading{
    justify-content: right;
}

.name{
    margin-left: 120px;
    margin-top: 87px;
    color: var(--heading-color);
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.banner-text{
    width: 582px;
    height: 270px;
}
.banner-heading{
    font-family: Poppins;
    font-style: normal;
    color: #3A3A3A;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}
.banner-text p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}
.banner-text a{
    width: 196px;
    height: 44px;
    text-decoration: none;
    padding: 10px;
    background-color: #E02C6D;
    color: white;
    border-radius: 41px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    color: white;
    margin-left: 10px;
}
.banner-img{
    width: 440px;
    height: 414px;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.banner-img:hover img{
    transform: scale(1.2) rotate(30deg);
    transition: transform 2s;
}

.logos img{

    margin: 40px;
    grid-column-gap: 2rem;
    align-items: center;
}
hr{
    margin-top: 20px;
    color: rgba(185, 175, 175, 0.897);
    width: 50%;
    
}